target
.project
.settings
.classpath
/applications/bumperbot/.gitignore

\.idea/
\.vscode/

/generators/maa2java/generated-test-sources/

*.iml
.DS_Store
generated-test-sources

.gradle
gradlew
gradlew.bat
gradle-wrapper.jar
gradle-wrapper.properties