# (c) https://github.com/MontiCore/monticore

# Cache downloaded dependencies and plugins between builds.
# To keep cache across branches add 'key: "$CI_JOB_NAME"'
cache:
  paths:
    - .m2/repository/
  key: "$CI_COMMIT_SHA" # Cache across branch and stage

stages:
  - build
  - test
  - generator-test
  - post-test
  - security
  - build-applications
  - mirror

variables:
  # This will supress any download for dependencies and plugins or upload messages which would clutter the console log.
  # `showDateTime` will show the passed time in milliseconds. You need to specify `--batch-mode` to make this work.
  MAVEN_OPTS: "-Xmx4096m -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=WARN -Dorg.slf4j.simpleLogger.showDateTime=true -Djava.awt.headless=true -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"
  # `installAtEnd` and `deployAtEnd`are only effective with recent version of the corresponding plugins.
  MAVEN_CLI_OPTS: "-s settings.xml --batch-mode --errors --fail-at-end --show-version -DinstallAtEnd=true"
  DOCKER_DRIVER: overlay2
  SAST_DISABLED: "true"
  SAST_EXCLUDED_PATHS: "test, services, cereal, json, nngpp, message-types, cpp-httplib, easyloggingpp, sole, curl, rigtorp"

before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle

.docker_build_template: &docker_build_definition
  stage: build
  variables:
    DOCKER_DRIVER: overlay2
  cache: { }
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_PIPELINE_SOURCE == "push"'
      changes:
        - $CHANGES_PATH
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
  before_script:
    - docker login -u rwthse -p $dockerHubSe
  after_script:
    - docker logout
  tags:
    - shell
    - docker
    - node2

Docker Alpine:
  <<: *docker_build_definition
  variables:
    CHANGES_PATH: 'docker/mtcmake/**/*'
  script:
    - docker login -u sebot -p $sebot $CI_REGISTRY
    - cd docker/mtcmake 

    - export DOCKER_CLI_EXPERIMENTAL=enabled
    - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
    - docker buildx rm builder
    - docker buildx create --name builder --driver docker-container --use
    - docker buildx inspect --bootstrap

    - docker buildx build --platform linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v6 --output type=image,name=mtcmake -t montithings/mtcmake:latest --push .

    # Running this a second time will just use the cached layers
    - docker buildx build --platform linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v6 --output type=image,name=mtcmake -t $CI_REGISTRY_IMAGE/mtcmake:latest --push .

Docker DDS:
  <<: *docker_build_definition
  variables:
    CHANGES_PATH: 'docker/mtcmakedds/**/*'
  script:
    - docker login -u sebot -p $sebot $CI_REGISTRY
    - cd docker/mtcmakedds

    - export DOCKER_CLI_EXPERIMENTAL=enabled
    - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
    - docker buildx rm builder
    - docker buildx create --name builder --driver docker-container --use
    - docker buildx inspect --bootstrap

    - docker buildx build --platform linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v6 --output type=image,name=mtcmakedds -t $CI_REGISTRY_IMAGE/mtcmakedds:latest --push .
    
    # Running this a second time will just use the cached layers
    - docker buildx build --platform linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v6 --output type=image,name=mtcmakedds -t montithings/mtcmakedds:latest --push .

Docker OpenDDSDCPSInfoRepo:
  <<: *docker_build_definition
  variables:
    CHANGES_PATH: 'docker/openddsdcpsinforepo/**/*'
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
    - cd docker/openddsdcpsinforepo
    - docker build -t $CI_REGISTRY_IMAGE/openddsdcpsinforepo .
    - docker push $CI_REGISTRY_IMAGE/openddsdcpsinforepo


Docker Recorder:
  <<: *docker_build_definition
  variables:
    CHANGES_PATH: 'services/recorder/**/*'
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/recorder -f services/recorder/Dockerfile .
    - docker tag $CI_REGISTRY_IMAGE/recorder montithings/recorder
    - docker push montithings/recorder
    - docker push $CI_REGISTRY_IMAGE/recorder


Docker Log Tracing:
  <<: *docker_build_definition
  variables:
    CHANGES_PATH: 'services/log-tracing/**/*'
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/logtracer-middleware -f services/log-tracing/Dockerfile .
    - cd services/log-tracing/frontend
    - docker build -t $CI_REGISTRY_IMAGE/logtracer-frontend .
    - docker tag $CI_REGISTRY_IMAGE/logtracer-middleware montithings/logtracer-middleware
    - docker tag $CI_REGISTRY_IMAGE/logtracer-frontend montithings/logtracer-frontend
    - docker push montithings/logtracer-middleware
    - docker push montithings/logtracer-frontend
    - docker push $CI_REGISTRY_IMAGE/logtracer-middleware
    - docker push $CI_REGISTRY_IMAGE/logtracer-frontend

Docker Prolog Generator:
  <<: *docker_build_definition
  variables:
    CHANGES_PATH: 'services/recorder/**/*' 
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
    - docker build . --file services/prolog-generator/Dockerfile --network host --tag $CI_REGISTRY_IMAGE/prolog-generator
    - docker tag $CI_REGISTRY_IMAGE/prolog-generator montithings/prolog-generator
    - docker push montithings/prolog-generator
    - docker push $CI_REGISTRY_IMAGE/prolog-generator

Docker IoT Manager:
  <<: *docker_build_definition
  variables:
    CHANGES_PATH: 'services/iot-manager/**/*'
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
    - cd services/iot-manager/
    - mvn clean install -DskipTests
    - docker build --network=host -t $CI_REGISTRY_IMAGE/iot-manager .
    - docker tag $CI_REGISTRY_IMAGE/iot-manager montithings/iot-manager
    - docker push montithings/iot-manager
    - docker push $CI_REGISTRY_IMAGE/iot-manager


# This will only validate and compile stuff and run e.g. maven-enforcer-plugin.
# Because some enforcer rules might check dependency convergence and class duplications
# we use `test-compile` here instead of `validate`, so the correct classpath is picked up.
Validate Maven:
  image: registry.git.rwth-aachen.de/monticore/container-registry/maven:3-jdk-8
  stage: build
  script:
    - mvn -U $MAVEN_CLI_OPTS compile package -Dmaven.test.skip=true
  artifacts:
    paths:
      - generators/montithings2cpp/target/
      - languages/montithings/target/
      - applications
    expire_in: 1 week
    
Validate Gradle:
  image: registry.git.rwth-aachen.de/monticore/container-registry/gradle:6.7-jdk8
  stage: build
  allow_failure: true
  artifacts:
    paths:
      - generators/cd2cpp/target/
      - generators/montithings2cpp/target/
      - languages/bindings/target/
      - languages/cdlangextension/target/
      - languages/error-handling/target/
      - languages/montiarc-extensions/target/
      - languages/monticore-extensions/target/
      - languages/montithings/target/
      - languages/mtconfig/target/
  script:
    - gradle clean assemble
    - cd applications
    - gradle clean assemble
    
Unit Test Gradle:
  image: registry.git.rwth-aachen.de/monticore/container-registry/gradle:6.7-jdk8
  stage: test
  allow_failure: true
  dependencies: 
    - Validate Gradle #download artifacts from build
  needs: ["Validate Gradle"]
  script:
    - gradle test

# Run Unit Tests after build
.unit_test_template: &unit_test_definition
  stage: test
  coverage: '/\d+.\d+ \% covered/'
  script:
    - mvn $MAVEN_CLI_OPTS test package -Dexec.skip
    - awk -F"," '{ instructions += $4 + $5; covered += $5 } END { print covered, "/", instructions, "instructions covered"; print 100*covered/instructions, "% covered" }' ./languages/montithings/target/site/jacoco/jacoco.csv
  dependencies: 
    - Validate Maven #download artifacts from build
  needs: ["Validate Maven"]
  artifacts:
    reports:
      junit:
      - ./generators/montithings2cpp/target/surefire-reports/TEST-*.xml
      - ./languages/montithings/target/surefire-reports/TEST-*.xml
    paths:
      - generators/montithings2cpp/target/
      - "applications/**/target/generated-sources"

Unit Test JDK 8:
  image: registry.git.rwth-aachen.de/monticore/container-registry/maven:3-jdk-8
  <<: *unit_test_definition
      
Unit Test JDK 11:
  image: registry.git.rwth-aachen.de/monticore/container-registry/maven:3-jdk-11
  # We do not require JDK 11 support yet. We appreciate it though.
  allow_failure: true 
  <<: *unit_test_definition

Unit Test JDK 14:
  image: registry.git.rwth-aachen.de/monticore/container-registry/maven:3-jdk-14
  # We do not require JDK 14 support yet. We appreciate it though.
  allow_failure: true
  <<: *unit_test_definition

Unit Test Amazon Corretto JDK 8:
  image: registry.git.rwth-aachen.de/monticore/container-registry/maven:3-amazoncorretto-8
  # We do not require Amazon Corretto JDK support. We appreciate it though.
  allow_failure: true 
  <<: *unit_test_definition

.generator_test_definition: &generator_test_definition
  stage: generator-test
  dependencies: 
    - Unit Test JDK 11 #download generated-test-sources
  needs: ["Unit Test JDK 11"] # can run immediately after Unit Test JDK 11
  script:
    - cd generators/montithings2cpp/target/generated-test-sources
    - ./runTests.sh

Generator Test Alpine:
  image: $CI_REGISTRY_IMAGE/mtcmake
  <<: *generator_test_definition

Generator Test DDS:
  image: $CI_REGISTRY_IMAGE/mtcmakedds
  <<: *generator_test_definition

Compile Applications:
  image: $CI_REGISTRY_IMAGE/mtcmake
  stage: generator-test
  dependencies:
    - Unit Test JDK 11 #download generated-test-sources
  needs: [ "Unit Test JDK 11" ] # can run immediately after Unit Test JDK 11
  script:
    - cd applications
    - ./compile.sh

Deploy Nexus:
  image: registry.git.rwth-aachen.de/monticore/container-registry/maven:3-jdk-8
  stage: post-test
  script:
    - mvn -U $MAVEN_CLI_OPTS clean deploy -Dexec.skip -Dmaven.test.skip=true 
  only:
    - develop

Code Quality:
  stage: post-test
  variables:
    DOCKER_DRIVER: overlay2
  allow_failure: true
  cache: {}
  needs: [] # can run immediately 
  retry: 2
  tags:
    - shell
    - docker
  script:
    - export SP_VERSION=$(echo "$CI_SERVER_VERSION" | sed 's/^\([0-9]*\)\.\([0-9]*\).*/\1-\2-stable/')
    # Update Codeclimate and SonarJava Plugin
    - docker run  --rm 
      --env CODECLIMATE_CODE="$PWD" 
      --env CONTAINER_TIMEOUT_SECONDS=150000 
      --env ENGINE_MEMORY_LIMIT_BYTES=100000000000
      --volume "$PWD":/code 
      --volume /var/run/docker.sock:/var/run/docker.sock 
      --volume /tmp/cc:/tmp/cc 
      codeclimate/codeclimate engines:install
    # Check Code Quality
    - docker run --rm 
       --env CODECLIMATE_CODE="$PWD" 
       --env CONTAINER_TIMEOUT_SECONDS=150000
       --env ENGINE_MEMORY_LIMIT_BYTES=100000000000 
       --volume "$PWD":/code 
       --volume /var/run/docker.sock:/var/run/docker.sock 
       --volume /tmp/cc:/tmp/cc 
       codeclimate/codeclimate analyze -f json > codeclimate.json
        #"registry.gitlab.com/gitlab-org/security-products/codequality:$SP_VERSION" /code
  artifacts:
    reports:
      codequality: codeclimate.json

#Docker Applications:
#  stage: build-applications
#  dependencies: 
#    - Validate Maven #download artifacts from build
#  variables:
#    DOCKER_DRIVER: overlay2
#  cache: {}
#  tags:
#    - shell
#    - docker
#  only:
#    - develop
#  script:
#    - docker login -u sebot -p $sebot $CI_REGISTRY
#    - export DOCKER_CLI_EXPERIMENTAL=enabled
#    - docker run --rm --privileged docker/binfmt:a7996909642ee92942dcd6cff44b9b95f08dad64
#    - docker buildx rm builder
#    - docker buildx create --name builder --driver docker-container --use
#    - docker buildx inspect --bootstrap
#    - bash buildapplications.sh

GitHub Mirror:
  image: maven:3-jdk-8
  stage: mirror
  cache: {}
  allow_failure: true
#  needs: []
  variables:
    GIT_STRATEGY: clone
  dependencies:
    - Deploy Nexus
  before_script:
    - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$SE_CIBUILD_SSH_PRIV_KEY")
    - echo "$SE_CIBUILD_SSH_PRIV_KEY" | tr -d '\r' | ssh-add -
    - git config --global user.email "noreply-ci@se-rwth.de"
    - git config --global user.name "MontiCore Mirroring Bot"
    - mkdir -p ~/.ssh
    - echo -e "Host github.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
    - "curl -O https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh"
    - bash script.deb.sh
    - rm script.deb.sh
    - apt-get -y install git-lfs
  script:
    - git lfs fetch --all
    - git remote add github git@github.com:MontiCore/montithings.git
    - git fetch --all
    - git switch -c github/"$CI_COMMIT_BRANCH" --track github/"$CI_COMMIT_BRANCH"
    - git merge --no-edit -s recursive -X theirs origin/"$CI_COMMIT_BRANCH"
#    - "curl --location --header \"PRIVATE-TOKEN: $secibuildtoken\" \"https://git.rwth-aachen.de/api/v4/projects/monticore%2Fauxiliary-development-tools%2Fmdlinkchecker/jobs/artifacts/master/raw/target/libs/MDLinkChangerCLI.jar?job=build\" --output MDLinkChangerCLI.jar"
#    - "curl \"https://raw.githubusercontent.com/MontiCore/monticore/dev/pre/mirror.sh\" --output mirror.sh"
#    - sh mirror.sh
#    - rm MDLinkChangerCLI.jar mirror.sh
#    - git add --all
#    - "(git commit -m 'Replace private README links.') || true"
    - git push github HEAD:"$CI_COMMIT_BRANCH"
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_PIPELINE_SOURCE == "push"'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never


##########################################
# Security Jobs
##########################################

include:
- template: Security/Secret-Detection.gitlab-ci.yml
- template: Security/SAST.gitlab-ci.yml

# Check there are no secrets in the projects
secret_detection:
  stage: security
  needs: [] # can run immediately 

# Check RTE for security flaws
flawfinder-sast: 
  stage: security
  needs: [] # can run immediately 
  rules:
    - if: $CI_COMMIT_BRANCH
      exists:
        - '**/*.c'
        - '**/*.cpp'

##########################################
# Trigger other projects' pipelines
##########################################

trigger-hierarchy:
  stage: build-applications
  trigger:
    project: monticore/montithings/applications/hierarchy
    branch: master
  only:
    - develop

trigger-smart-home:
  stage: build-applications
  trigger:
    project: monticore/montithings/applications/smart-home
    branch: development
  only:
    - develop
