target
.project
.settings
.classpath

\.idea/
\.vscode/

*.iml
.DS_Store
generated-test-sources

.gradle
gradlew
gradlew.bat
gradle-wrapper.jar
gradle-wrapper.properties

/.terraform.lock.hcl
/.terraform.tfstate.lock.info
/terraform.tfstate
.terraform/
terraform.tfstate.backup
terraform_azure.tfplan

language-server.log
